trunk/domain/atm.domain/Schema/AtmIntakeSchema.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by NorAzmi Shaparuddin (SPK Healthline Sdn Bhd) -->
<!-- 
bs attributes
inheritance - set to abstract, sealed or blank
new -  to call new at the field init

-->
<xs:schema xmlns="http://www.dagangnet.com.my/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bs="http://www.dagangnet.com.my/xsd/" targetNamespace="http://www.dagangnet.com.my/" elementFormDefault="qualified" attributeFormDefault="unqualified">

  <xs:element name="LoginUser">
    <xs:complexType>
      <xs:all>
        <xs:element name="ApplicantId" type="xs:int" nillable="true"/>
        <xs:element name="LastLoginDt" type="xs:dateTime" nillable="true"/>
        <xs:element name="LastLoginDt2" type="xs:dateTime" nillable="true"/>
        <xs:element name="ModifiedDt" type="xs:dateTime" nillable="true"/>
      </xs:all>
      <xs:attribute name="UserId" type="xs:int" use="required"/>
      <xs:attribute name="LoginId" type="xs:string" use="required"/>
      <xs:attribute name="Salt" type="xs:string" use="required"/>
      <xs:attribute name="FullName" type="xs:string" use="required"/>
      <xs:attribute name="UserName" type="xs:string" use="required"/>
      <xs:attribute name="Password" type="xs:string" use="required"/>
      <xs:attribute name="Status" type="xs:string" use="required"/>
      <xs:attribute name="IsLocked" type="xs:boolean" use="required"/>
      <xs:attribute name="FirstTime" type="xs:boolean" use="required"/>
      <xs:attribute name="Email" type="xs:string" use="required"/>
      <xs:attribute name="AlternativeEmail" type="xs:string" use="required"/>
      <xs:attribute name="ServiceCd" type="xs:string" use="required"/>
      <xs:attribute name="ServiceName" type="xs:string" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="ModifiedBy" type="xs:string" use="required"/>
      <xs:attribute name="CreatedDt" type="xs:dateTime" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Applicant">
    <xs:complexType>
      <xs:all>
        <xs:element name="BirthDt" type="xs:date" nillable="true"/>
        <xs:element name="Age" type="xs:date" nillable="true"/>
        <xs:element name="PalapesTauliahEndDt" type="xs:date" nillable="true"/>
        <xs:element name="ScholarshipContractStDate" type="xs:date" nillable="true"/>
        <xs:element name="ArmySelectionDt" type="xs:date" nillable="true"/>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
        <xs:element name="ApplicantEducations">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="ApplicantEducation" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ApplicantSports">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="ApplicantSport" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ApplicantDispStatuses">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="ApplicantDispStatus" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ArmyServiceInd" type="xs:boolean" nillable="true"/>
        <xs:element name="PalapesInd" type="xs:boolean" nillable="true"/>
        <xs:element name="ScholarshipInd" type="xs:boolean" nillable="true"/>
        <xs:element name="ArmySelectionInd" type="xs:boolean" nillable="true"/>
        <xs:element name="EmployeeAggreeInd" type="xs:boolean" nillable="true"/>
        <xs:element name="CrimeInvolvement" type="xs:boolean" nillable="true"/>
        <xs:element name="DrugCaseInvolvement" type="xs:boolean" nillable="true"/>
        <xs:element name="CronicIlnessInd" type="xs:boolean" nillable="true"/>
        <xs:element name="MomNotApplicable" type="xs:boolean" nillable="true"/>
        <xs:element name="DadNotApplicable" type="xs:boolean" nillable="true"/>
        <xs:element name="GuardianNotApplicable" type="xs:boolean" nillable="true"/>
        <xs:element name="BMI" type="xs:decimal" nillable="true"/>
        <xs:element name="ColorBlindInd" type="xs:boolean" nillable="true"/>
        <xs:element name="ChildNo" type="xs:int" nillable="true"/>
        <xs:element name="SelectionTD" type="xs:int" nillable="true"/>
        <xs:element name="SelectionTL" type="xs:int" nillable="true"/>
        <xs:element name="SelectionTU" type="xs:int" nillable="true"/>
        <xs:element name="ComputerMSWord" type="xs:boolean" nillable="true"/>
        <xs:element name="ComputerMSExcel" type="xs:boolean" nillable="true"/>
        <xs:element name="ComputerMSPwrPoint" type="xs:boolean" nillable="true"/>
        <xs:element name="ComputerICT" type="xs:boolean" nillable="true"/>
        <xs:element name="NoOfSibling" type="xs:int" nillable="true"/>
        <xs:element name="MomSalary" type="xs:decimal" nillable="true"/>
        <xs:element name="DadSalary" type="xs:decimal" nillable="true"/>
        <xs:element name="GuardianSalary" type="xs:decimal" nillable="true"/>
        <xs:element name="CurrentSalary" type="xs:decimal" nillable="true"/>
        <xs:element name="Height" type="xs:decimal" nillable="true"/>
        <xs:element name="Weight" type="xs:decimal" nillable="true"/>
        <xs:element name="SpectaclesUserInd" type="xs:boolean" nillable="true"/>
        <xs:element name="PalapesYear" type="xs:int" nillable="true"/>
      </xs:all>
      <xs:attribute name="ApplicantId" type="xs:int" use="required"/>
      <xs:attribute name="NewICNo" type="xs:string" use="required"/>
      <xs:attribute name="BirthDtString" type="xs:string" use="required"/>
      <xs:attribute name="NoTentera" type="xs:string" use="required"/>
      <xs:attribute name="FullName" type="xs:string" use="required"/>
      <xs:attribute name="MrtlStatusCd" type="xs:string" use="required"/>
      <xs:attribute name="GenderCd" type="xs:string" use="required"/>
      <xs:attribute name="NationalityCd" type="xs:string" use="required"/>
      <xs:attribute name="NationalityCertNo" type="xs:string" use="required"/>
      <xs:attribute name="BirthCertNo" type="xs:string" use="required"/>
      <xs:attribute name="ReligionCd" type="xs:string" use="required"/>
      <xs:attribute name="ReligionName" type="xs:string" use="required"/>
      <xs:attribute name="RaceCd" type="xs:string" use="required"/>
      <xs:attribute name="RaceName" type="xs:string" use="required"/>
      <xs:attribute name="EthnicCd" type="xs:string" use="required"/>
      <xs:attribute name="EthnicName" type="xs:string" use="required"/>
      <xs:attribute name="BirthCountryCd" type="xs:string" use="required"/>
      <xs:attribute name="BirthCountryName" type="xs:string" use="required"/>
      <xs:attribute name="BirthStateCd" type="xs:string" use="required"/>
      <xs:attribute name="BirthStateName" type="xs:string" use="required"/>
      <xs:attribute name="BirthCityCd" type="xs:string" use="required"/>
      <xs:attribute name="BirthCityName" type="xs:string" use="required"/>
      <xs:attribute name="BirthPlace" type="xs:string" use="required"/>
      <xs:attribute name="BloodTypeCd" type="xs:string" use="required"/>
      <xs:attribute name="ResidenceTypeInd" type="xs:string" use="required"/>
      <xs:attribute name="CorresponAddr1" type="xs:string" use="required"/>
      <xs:attribute name="CorresponAddr2" type="xs:string" use="required"/>
      <xs:attribute name="CorresponAddr3" type="xs:string" use="required"/>
      <xs:attribute name="CorresponAddrPostCd" type="xs:string" use="required"/>
      <xs:attribute name="CorresponAddrCityCd" type="xs:string" use="required"/>
      <xs:attribute name="CorresponAddrStateCd" type="xs:string" use="required"/>
      <xs:attribute name="CorresponAddrCountryCd" type="xs:string" use="required"/>
      <xs:attribute name="MobilePhoneNo" type="xs:string" use="required"/>
      <xs:attribute name="HomePhoneNo" type="xs:string" use="required"/>
      <xs:attribute name="Email" type="xs:string" use="required"/>
      <xs:attribute name="MomName" type="xs:string" use="required"/>
      <xs:attribute name="MomICNo" type="xs:string" use="required"/>
      <xs:attribute name="MomPhoneNo" type="xs:string" use="required"/>
      <xs:attribute name="MomNationalityCd" type="xs:string" use="required"/>
      <xs:attribute name="MomOccupation" type="xs:string" use="required"/>
      <xs:attribute name="DadName" type="xs:string" use="required"/>
      <xs:attribute name="DadICNo" type="xs:string" use="required"/>
      <xs:attribute name="DadNationalityCd" type="xs:string" use="required"/>
      <xs:attribute name="DadOccupation" type="xs:string" use="required"/>
      <xs:attribute name="DadPhoneNo" type="xs:string" use="required"/>
      <xs:attribute name="GuardianName" type="xs:string" use="required"/>
      <xs:attribute name="GuardianICNo" type="xs:string" use="required"/>
      <xs:attribute name="GuardianPhoneNo" type="xs:string" use="required"/>
      <xs:attribute name="GuardianNationalityCd" type="xs:string" use="required"/>
      <xs:attribute name="GuardianOccupation" type="xs:string" use="required"/>
      <xs:attribute name="FamilyHighestEduLevel" type="xs:string" use="required"/>
      <xs:attribute name="CurrentOccupation" type="xs:string" use="required"/>
      <xs:attribute name="CurrentOrganisation" type="xs:string" use="required"/>
      <xs:attribute name="PalapesServices" type="xs:string" use="required"/>
      <xs:attribute name="PalapesArmyNo" type="xs:string" use="required"/>
      <xs:attribute name="PalapesInstitution" type="xs:string" use="required"/>
      <xs:attribute name="PalapesRemark" type="xs:string" use="required"/>
      <xs:attribute name="ScholarshipBody" type="xs:string" use="required"/>
      <xs:attribute name="ScholarshipBodyAddr" type="xs:string" use="required"/>
      <xs:attribute name="ScholarshipNoOfYrContract" type="xs:string" use="required"/>
      <xs:attribute name="ArmySelectionVenue" type="xs:string" use="required"/>
      <xs:attribute name="ArmyServiceYrOfServ" type="xs:string" use="required"/>
      <xs:attribute name="ArmyServiceResignRemark" type="xs:string" use="required"/>
      <xs:attribute name="ComputerOthers" type="xs:string" use="required"/>
      <xs:attribute name="PelepasanDocument" type="xs:string" use="required"/>
      <xs:attribute name="OriginalPelepasanDocument" type="xs:string" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicantSubmitted">
    <xs:complexType>
      <xs:all>
        <xs:element name="BirthDt" type="xs:date" nillable="true"/>
        <xs:element name="Age" type="xs:date" nillable="true"/>
        <xs:element name="PalapesTauliahEndDt" type="xs:date" nillable="true"/>
        <xs:element name="ScholarshipContractStDate" type="xs:date" nillable="true"/>
        <xs:element name="ArmySelectionDt" type="xs:date" nillable="true"/>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
        <xs:element name="ApplicantEducationSubmitteds">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="ApplicantEducationSubmitted" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ApplicantSportSubmitteds">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="ApplicantSportSubmitted" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ApplicantDispStatusSubmitteds">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="ApplicantDispStatusSubmitted" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ArmyServiceInd" type="xs:boolean" nillable="true"/>
        <xs:element name="PalapesInd" type="xs:boolean" nillable="true"/>
        <xs:element name="ScholarshipInd" type="xs:boolean" nillable="true"/>
        <xs:element name="ArmySelectionInd" type="xs:boolean" nillable="true"/>
        <xs:element name="EmployeeAggreeInd" type="xs:boolean" nillable="true"/>
        <xs:element name="CrimeInvolvement" type="xs:boolean" nillable="true"/>
        <xs:element name="DrugCaseInvolvement" type="xs:boolean" nillable="true"/>
        <xs:element name="CronicIlnessInd" type="xs:boolean" nillable="true"/>
        <xs:element name="MomNotApplicable" type="xs:boolean" nillable="true"/>
        <xs:element name="DadNotApplicable" type="xs:boolean" nillable="true"/>
        <xs:element name="GuardianNotApplicable" type="xs:boolean" nillable="true"/>
        <xs:element name="BMI" type="xs:decimal" nillable="true"/>
        <xs:element name="ColorBlindInd" type="xs:boolean" nillable="true"/>
        <xs:element name="ChildNo" type="xs:int" nillable="true"/>
        <xs:element name="SelectionTD" type="xs:int" nillable="true"/>
        <xs:element name="SelectionTL" type="xs:int" nillable="true"/>
        <xs:element name="SelectionTU" type="xs:int" nillable="true"/>
        <xs:element name="ComputerMSWord" type="xs:boolean" nillable="true"/>
        <xs:element name="ComputerMSExcel" type="xs:boolean" nillable="true"/>
        <xs:element name="ComputerMSPwrPoint" type="xs:boolean" nillable="true"/>
        <xs:element name="ComputerICT" type="xs:boolean" nillable="true"/>
        <xs:element name="NoOfSibling" type="xs:int" nillable="true"/>
        <xs:element name="MomSalary" type="xs:decimal" nillable="true"/>
        <xs:element name="DadSalary" type="xs:decimal" nillable="true"/>
        <xs:element name="GuardianSalary" type="xs:decimal" nillable="true"/>
        <xs:element name="CurrentSalary" type="xs:decimal" nillable="true"/>
        <xs:element name="Height" type="xs:decimal" nillable="true"/>
        <xs:element name="Weight" type="xs:decimal" nillable="true"/>
        <xs:element name="SpectaclesUserInd" type="xs:boolean" nillable="true"/>
        <xs:element name="PalapesYear" type="xs:int" nillable="true"/>
      </xs:all>
      <xs:attribute name="ApplicantId" type="xs:int" use="required"/>
      <xs:attribute name="AcquisitionId" type="xs:int" use="required"/>
      <xs:attribute name="NewICNo" type="xs:string" use="required"/>
      <xs:attribute name="NoTentera" type="xs:string" use="required"/>
      <xs:attribute name="FullName" type="xs:string" use="required"/>
      <xs:attribute name="MrtlStatusCd" type="xs:string" use="required"/>
      <xs:attribute name="GenderCd" type="xs:string" use="required"/>
      <xs:attribute name="NationalityCd" type="xs:string" use="required"/>
      <xs:attribute name="NationalityCertNo" type="xs:string" use="required"/>
      <xs:attribute name="BirthCertNo" type="xs:string" use="required"/>
      <xs:attribute name="ReligionCd" type="xs:string" use="required"/>
      <xs:attribute name="ReligionName" type="xs:string" use="required"/>
      <xs:attribute name="RaceCd" type="xs:string" use="required"/>
      <xs:attribute name="RaceName" type="xs:string" use="required"/>
      <xs:attribute name="EthnicCd" type="xs:string" use="required"/>
      <xs:attribute name="EthnicName" type="xs:string" use="required"/>
      <xs:attribute name="BirthCountryCd" type="xs:string" use="required"/>
      <xs:attribute name="BirthCountryName" type="xs:string" use="required"/>
      <xs:attribute name="BirthStateCd" type="xs:string" use="required"/>
      <xs:attribute name="BirthStateName" type="xs:string" use="required"/>
      <xs:attribute name="BirthCityCd" type="xs:string" use="required"/>
      <xs:attribute name="BirthCityName" type="xs:string" use="required"/>
      <xs:attribute name="BirthPlace" type="xs:string" use="required"/>
      <xs:attribute name="BloodTypeCd" type="xs:string" use="required"/>
      <xs:attribute name="ResidenceTypeInd" type="xs:string" use="required"/>
      <xs:attribute name="CorresponAddr1" type="xs:string" use="required"/>
      <xs:attribute name="CorresponAddr2" type="xs:string" use="required"/>
      <xs:attribute name="CorresponAddr3" type="xs:string" use="required"/>
      <xs:attribute name="CorresponAddrPostCd" type="xs:string" use="required"/>
      <xs:attribute name="CorresponAddrCityCd" type="xs:string" use="required"/>
      <xs:attribute name="CorresponAddrCityNm" type="xs:string" use="required"/>
      <xs:attribute name="CorresponAddrStateCd" type="xs:string" use="required"/>
      <xs:attribute name="CorresponAddrStateNm" type="xs:string" use="required"/>
      <xs:attribute name="CorresponAddrCountryCd" type="xs:string" use="required"/>
      <xs:attribute name="CorresponAddrCountryNm" type="xs:string" use="required"/>
      <xs:attribute name="MobilePhoneNo" type="xs:string" use="required"/>
      <xs:attribute name="HomePhoneNo" type="xs:string" use="required"/>
      <xs:attribute name="Email" type="xs:string" use="required"/>
      <xs:attribute name="MomName" type="xs:string" use="required"/>
      <xs:attribute name="MomICNo" type="xs:string" use="required"/>
      <xs:attribute name="MomPhoneNo" type="xs:string" use="required"/>
      <xs:attribute name="MomNationalityCd" type="xs:string" use="required"/>
      <xs:attribute name="MomOccupation" type="xs:string" use="required"/>
      <xs:attribute name="DadName" type="xs:string" use="required"/>
      <xs:attribute name="DadICNo" type="xs:string" use="required"/>
      <xs:attribute name="DadNationalityCd" type="xs:string" use="required"/>
      <xs:attribute name="DadOccupation" type="xs:string" use="required"/>
      <xs:attribute name="DadPhoneNo" type="xs:string" use="required"/>
      <xs:attribute name="GuardianName" type="xs:string" use="required"/>
      <xs:attribute name="GuardianICNo" type="xs:string" use="required"/>
      <xs:attribute name="GuardianPhoneNo" type="xs:string" use="required"/>
      <xs:attribute name="GuardianNationalityCd" type="xs:string" use="required"/>
      <xs:attribute name="GuardianOccupation" type="xs:string" use="required"/>
      <xs:attribute name="FamilyHighestEduLevel" type="xs:string" use="required"/>
      <xs:attribute name="CurrentOccupation" type="xs:string" use="required"/>
      <xs:attribute name="CurrentOrganisation" type="xs:string" use="required"/>
      <xs:attribute name="PalapesServices" type="xs:string" use="required"/>
      <xs:attribute name="PalapesArmyNo" type="xs:string" use="required"/>
      <xs:attribute name="PalapesInstitution" type="xs:string" use="required"/>
      <xs:attribute name="PalapesRemark" type="xs:string" use="required"/>
      <xs:attribute name="ScholarshipBody" type="xs:string" use="required"/>
      <xs:attribute name="ScholarshipBodyAddr" type="xs:string" use="required"/>
      <xs:attribute name="ScholarshipNoOfYrContract" type="xs:string" use="required"/>
      <xs:attribute name="ArmySelectionVenue" type="xs:string" use="required"/>
      <xs:attribute name="ArmyServiceYrOfServ" type="xs:string" use="required"/>
      <xs:attribute name="ArmyServiceResignRemark" type="xs:string" use="required"/>
      <xs:attribute name="ComputerOthers" type="xs:string" use="required"/>
      <xs:attribute name="PelepasanDocument" type="xs:string" use="required"/>
      <xs:attribute name="OriginalPelepasanDocument" type="xs:string" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicantEducation">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
        <xs:element name="ApplicantId" type="xs:int" nillable="true"/>
        <xs:element name="SKMLevel" type="xs:int" nillable="true"/>
        <xs:element name="ConfermentYr" type="xs:int" nillable="true"/>
        <xs:element name="OverSeaInd" type="xs:boolean" nillable="true"/>
        <xs:element name="ApplicantEduSubjects">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="ApplicantEduSubject" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
      <xs:attribute name="ApplicantEduId" type="xs:int" use="required"/>
      <xs:attribute name="HighEduLevelCd" type="xs:string" use="required"/>
      <xs:attribute name="HighEduLevel" type="xs:string" use="required"/>
      <xs:attribute name="EduCertTitle" type="xs:string" use="required"/>
      <xs:attribute name="OverallGrade" type="xs:string" use="required"/>
      <xs:attribute name="InstCd" type="xs:string" use="required"/>
      <xs:attribute name="InstitutionName" type="xs:string" use="required"/>
      <xs:attribute name="MajorMinorCd" type="xs:string" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicantEducationSubmitted">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
        <xs:element name="SKMLevel" type="xs:int" nillable="true"/>
        <xs:element name="ConfermentYr" type="xs:int" nillable="true"/>
        <xs:element name="OverSeaInd" type="xs:boolean" nillable="true"/>
        <xs:element name="ApplicantEduSubjectSubmitteds">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="ApplicantEduSubjectSubmitted" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
      <xs:attribute name="ApplicantEduId" type="xs:int" use="required"/>
      <xs:attribute name="ApplicantId" type="xs:int" use="required"/>
      <xs:attribute name="HighEduLevelCd" type="xs:string" use="required"/>
      <xs:attribute name="HighEduLevel" type="xs:string" use="required"/>
      <xs:attribute name="EduCertTitle" type="xs:string" use="required"/>
      <xs:attribute name="OverallGrade" type="xs:string" use="required"/>
      <xs:attribute name="InstCd" type="xs:string" use="required"/>
      <xs:attribute name="InstitutionName" type="xs:string" use="required"/>
      <xs:attribute name="MajorMinorCd" type="xs:string" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicantEduSubject">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
        <xs:element name="ApplicantEduId" type="xs:int" nillable="true"/>
        <xs:element name="SubjectCd" type="xs:int" nillable="true"/>
      </xs:all>
      <xs:attribute name="EduSubjectId" type="xs:int" use="required"/>
      <xs:attribute name="Subject" type="xs:string" use="required"/>
      <xs:attribute name="GradeCd" type="xs:string" use="required"/>
      <xs:attribute name="Grade" type="xs:string" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicantEduSubjectSubmitted">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
        <xs:element name="SubjectCd" type="xs:int" nillable="true"/>
      </xs:all>
      <xs:attribute name="EduSubjectId" type="xs:int" use="required"/>
      <xs:attribute name="ApplicantEduId" type="xs:int" use="required"/>
      <xs:attribute name="Subject" type="xs:string" use="required"/>
      <xs:attribute name="GradeCd" type="xs:string" use="required"/>
      <xs:attribute name="Grade" type="xs:string" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcqEduCriteriaFieldOfStudy">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="AcqEduCriFOS" type="xs:int" use="required"/>
      <xs:attribute name="MajorMinorCd" type="xs:string" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicantSkill">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
        <xs:element name="ApplicantId" type="xs:int" nillable="true"/>
        <xs:element name="LanguageSkillSpeak" type="xs:boolean" nillable="true"/>
        <xs:element name="LanguageSkillWrite" type="xs:boolean" nillable="true"/>
      </xs:all>
      <xs:attribute name="ApplicantSkillId" type="xs:int" use="required"/>
      <xs:attribute name="Skill" type="xs:string" use="required"/>
      <xs:attribute name="SkillCd" type="xs:string" use="required"/>
      <xs:attribute name="SkillCatCd" type="xs:string" use="required"/>
      <xs:attribute name="AchievementCd" type="xs:string" use="required"/>
      <xs:attribute name="Others" type="xs:string" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicantSkillSubmitted">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
        <xs:element name="LanguageSkillSpeak" type="xs:boolean" nillable="true"/>
        <xs:element name="LanguageSkillWrite" type="xs:boolean" nillable="true"/>
      </xs:all>
      <xs:attribute name="ApplicantSkillId" type="xs:int" use="required"/>
      <xs:attribute name="ApplicantId" type="xs:int" use="required"/>
      <xs:attribute name="Skill" type="xs:string" use="required"/>
      <xs:attribute name="SkillCd" type="xs:string" use="required"/>
      <xs:attribute name="SkillCatCd" type="xs:string" use="required"/>
      <xs:attribute name="AchievementCd" type="xs:string" use="required"/>
      <xs:attribute name="Others" type="xs:string" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicantSport">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
        <xs:element name="SportAssocId" type="xs:int" nillable="true"/>
        <xs:element name="Year" type="xs:int" nillable="true"/>
        <xs:element name="ApplicantId" type="xs:int" nillable="true"/>
      </xs:all>
      <xs:attribute name="ApplicantSportAssocId" type="xs:int" use="required"/>
      <xs:attribute name="AchievementCd" type="xs:string" use="required"/>
      <xs:attribute name="Others" type="xs:string" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicantSportSubmitted">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
        <xs:element name="Year" type="xs:int" nillable="true"/>
        <xs:element name="SportAssocId" type="xs:int" nillable="true"/>
      </xs:all>
      <xs:attribute name="ApplicantSportAssocId" type="xs:int" use="required"/>
      <xs:attribute name="ApplicantId" type="xs:int" use="required"/>
      <xs:attribute name="AchievementCd" type="xs:string" use="required"/>
      <xs:attribute name="Others" type="xs:string" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicantDispStatus">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="ApplicantDispStatusId" type="xs:int" use="required"/>
      <xs:attribute name="ApplicantId" type="xs:int" use="required"/>
      <xs:attribute name="Disciplinary" type="xs:string" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicantDispStatusSubmitted">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="ApplicantDispStatusId" type="xs:int" use="required"/>
      <xs:attribute name="ApplicantId" type="xs:int" use="required"/>
      <xs:attribute name="Disciplinary" type="xs:string" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Application">
    <xs:complexType>
      <xs:all>
        <xs:element ref="ApplicantSubmitted"/>
        <xs:element ref="AcquisitionLocation"/>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
        <xs:element name="ReportDutyDate" type="xs:date" nillable="true"/>
        <xs:element name="FinalSelectionStartDate" type="xs:date" nillable="true"/>
        <xs:element name="FinalSelectionEndDate" type="xs:date" nillable="true"/>
        <xs:element name="FirstSelectionInd" type="xs:boolean" nillable="true"/>
        <xs:element name="FinalSelectionInd" type="xs:boolean" nillable="true"/>
        <xs:element name="ApplicationStatus" type="xs:boolean" nillable="true"/>
        <xs:element name="DentalExamine" type="xs:boolean" nillable="true"/>
        <xs:element name="FinalShortlistedInd" type="xs:int" nillable="true"/>
        <xs:element name="FirstSelActualAcqLocationId" type="xs:int" nillable="true"/>
        <xs:element name="FirstSelectionAttdnInd" type="xs:boolean" nillable="true"/>
        <xs:element name="FirstSelectionDate" type="xs:date" nillable="true"/>
        <xs:element name="FirstShortlistedInd" type="xs:int" nillable="true"/>
        <xs:element name="InvitationFirstSel" type="xs:boolean" nillable="true"/>
        <xs:element name="MedicalExamine" type="xs:boolean" nillable="true"/>
        <xs:element name="Panel1Score" type="xs:int" nillable="true"/>
        <xs:element name="Panel2Score" type="xs:int" nillable="true"/>
        <xs:element name="Panel3Score" type="xs:int" nillable="true"/>
        <xs:element name="PhysicalExamination" type="xs:boolean" nillable="true"/>
        <xs:element name="PhysicalTest" type="xs:boolean" nillable="true"/>
        <xs:element name="ReportDuty" type="xs:int" nillable="true"/>
        <xs:element name="SecurityAADK" type="xs:boolean" nillable="true"/>
        <xs:element name="SecurityBSPP" type="xs:boolean" nillable="true"/>
        <xs:element name="SecurityJPN" type="xs:boolean" nillable="true"/>
        <xs:element name="SecurityKPM" type="xs:boolean" nillable="true"/>
        <xs:element name="SecurityPDRM" type="xs:boolean" nillable="true"/>
        <xs:element name="SecurityStatus" type="xs:boolean" nillable="true"/>
        <xs:element name="SelectedAcqLocationId" type="xs:int" nillable="true"/>
        <xs:element name="SelectionCenterId" type="xs:int" nillable="true"/>
        <xs:element name="SuppDocumentReview" type="xs:boolean" nillable="true"/>
        <xs:element name="Urine" type="xs:boolean" nillable="true"/>
        <xs:element name="WrittenTest" type="xs:boolean" nillable="true"/>
        <xs:element name="ReportDutyLocId" type="xs:int" nillable="true"/>
        <xs:element name="FinalSelActualAcqLocationId" type="xs:int" nillable="true"/>
      </xs:all>
      <xs:attribute name="AppId" type="xs:int" use="required"/>
      <xs:attribute name="ApplicantId" type="xs:int" use="required"/>
      <xs:attribute name="AcquisitionId" type="xs:int" use="required"/>
      <xs:attribute name="ArmyNo" type="xs:string" use="required"/>
      <xs:attribute name="NoKawalan" type="xs:string" use="required"/>
      <xs:attribute name="FinalSelectionRemark" type="xs:string" use="required"/>
      <xs:attribute name="SecurityAADKRemark" type="xs:string" use="required"/>
      <xs:attribute name="SecurityBSPPRemark" type="xs:string" use="required"/>
      <xs:attribute name="SecurityJPNRemark" type="xs:string" use="required"/>
      <xs:attribute name="SecurityKPMRemark" type="xs:string" use="required"/>
      <xs:attribute name="SecurityPDRMRemark" type="xs:string" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcqQuestionnaire">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="QuestionnaireId" type="xs:int" use="required"/>
      <xs:attribute name="AcquisitionId" type="xs:int" use="required"/>
      <xs:attribute name="QuestionnaireTypeCd" type="xs:string" use="required"/>
      <xs:attribute name="Weightage" type="xs:int" use="required"/>
      <xs:attribute name="PersonalityTypeCd" type="xs:string" use="required"/>
      <xs:attribute name="PersonalityAcceptedMarkFrom" type="xs:int" use="required"/>
      <xs:attribute name="PersonalityAcceptedMarkTo" type="xs:int" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcqQuestion">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="AcqQuestionId" type="xs:int" use="required"/>
      <xs:attribute name="QuestionnaireId" type="xs:int" use="required"/>
      <xs:attribute name="Statement" type="xs:string" use="required"/>
      <xs:attribute name="SequenceNo" type="xs:int" use="required"/>
      <xs:attribute name="PersonalityYesMark" type="xs:int" use="required"/>
      <xs:attribute name="PersonalityNoMark" type="xs:int" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcqQuestionnaireScale">
    <xs:complexType>
      <xs:attribute name="QuestionnaireScaleId" type="xs:int" use="required"/>
      <xs:attribute name="QuestionnaireId" type="xs:int" use="required"/>
      <xs:attribute name="ScaleRemark" type="xs:string" use="required"/>
      <xs:attribute name="Scale" type="xs:int" use="required"/>
      <xs:attribute name="MeritMark" type="xs:int" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Acquisition">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
        <xs:element name="ClosingDate" type="xs:date" nillable="true"/>
        <xs:element ref="AcquisitionCriteria"/>
        <xs:element name="AcquisitionEducationCriterias">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="AcquisitionEducationCriteria" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AcquisitionLocations">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="AcquisitionLocation" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="NewStatus" type="xs:boolean" nillable="true"/>
        <xs:element name="OpenStatus" type="xs:boolean" nillable="true"/>
        <xs:element name="CloseStatus" type="xs:boolean" nillable="true"/>
        <xs:element name="CompleteStatus" type="xs:boolean" nillable="true"/>
        <xs:element name="InviteFirstSelStatus" type="xs:boolean" nillable="true"/>
        <xs:element name="FirstSelectionStatus" type="xs:boolean" nillable="true"/>
        <xs:element name="InviteFinalSelStatus" type="xs:boolean" nillable="true"/>
        <xs:element name="WrittenTestStatus" type="xs:boolean" nillable="true"/>
        <xs:element name="FinalSelStatus" type="xs:boolean" nillable="true"/>
        <xs:element name="AssignNoTenteraStatus" type="xs:boolean" nillable="true"/>
        <xs:element name="SecurityCheckStatus" type="xs:boolean" nillable="true"/>
        <xs:element name="Year" type="xs:int" nillable="true"/>
        <xs:element name="Siri" type="xs:int" nillable="true"/>
        <xs:element name="Target" type="xs:int" nillable="true"/>
        <xs:element name="ArmyNumberFrom" type="xs:int" nillable="true"/>
        <xs:element name="ArmyNumberTo" type="xs:int" nillable="true"/>
        <xs:element name="PhysicalHealthStatus" type="xs:boolean" nillable="true"/>
        <xs:element name="ShortlistMeritInd" type="xs:boolean" nillable="true"/>
        <xs:element name="ToFinalSelNominated" type="xs:boolean" nillable="true"/>
        <xs:element name="FirstSelShortlisProcessInd" type="xs:boolean" nillable="true"/>
        <xs:element name="DocumentStatus" type="xs:boolean" nillable="true"/>
        <xs:element name="FinalSelShortlisProcessInd" type="xs:boolean" nillable="true"/>
        <xs:element name="InviteFirstSelNominated" type="xs:boolean" nillable="true"/>
        <xs:element name="AcquisitionTypeCd" type="xs:int" nillable="true"/>
      </xs:all>
      <xs:attribute name="AcquisitionId" type="xs:int" use="required"/>
      <xs:attribute name="NewStatusBy" type="xs:string" use="required"/>
      <xs:attribute name="OpenStatusBy" type="xs:string" use="required"/>
      <xs:attribute name="CloseStatusBy" type="xs:string" use="required"/>
      <xs:attribute name="InviteFirstSelStatusBy" type="xs:string" use="required"/>
      <xs:attribute name="SecurityCheckStatusBy" type="xs:string" use="required"/>
      <xs:attribute name="FirstSelectionStatusBy" type="xs:string" use="required"/>
      <xs:attribute name="InviteFinalSelStatusBy" type="xs:string" use="required"/>
      <xs:attribute name="WrittenTestStatusBy" type="xs:string" use="required"/>
      <xs:attribute name="FinalSelStatusBy" type="xs:string" use="required"/>
      <xs:attribute name="AssignNoTenteraStatusBy" type="xs:string" use="required"/>
      <xs:attribute name="CompleteStatusBy" type="xs:string" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
      <xs:attribute name="PhysicalHealthStatusBy" type="xs:string" use="required"/>
      <xs:attribute name="ToFinalSelNominatedBy" type="xs:string" use="required"/>
      <xs:attribute name="DocumentStatusBy" type="xs:string" use="required"/>
      <xs:attribute name="InviteFirstSelNominatedBy" type="xs:string" use="required"/>
      <xs:attribute name="FinalSupportingDocument" type="xs:string" use="required"/>
      <xs:attribute name="ReportDutySupportingDocument" type="xs:string" use="required"/>
      <xs:attribute name="FinalSupportingDocumentOriginal" type="xs:string" use="required"/>
      <xs:attribute name="ReportDutySupportingDocumentOriginal" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcquisitionCriteria">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
        <xs:element name="AgeAt" type="xs:date" use="required"/>
      </xs:all>
      <xs:attribute name="AcqCriteriaId" type="xs:int" use="required"/>
      <xs:attribute name="AcquisitionId" type="xs:int" use="required"/>
      <xs:attribute name="TDHeightM" type="xs:decimal" use="required"/>
      <xs:attribute name="TDWeightM" type="xs:decimal" use="required"/>
      <xs:attribute name="TDHeightF" type="xs:decimal" use="required"/>
      <xs:attribute name="TDWeightF" type="xs:decimal" use="required"/>
      <xs:attribute name="TLHeightM" type="xs:decimal" use="required"/>
      <xs:attribute name="TLWeightM" type="xs:decimal" use="required"/>
      <xs:attribute name="TLHeightF" type="xs:decimal" use="required"/>
      <xs:attribute name="TLWeightF" type="xs:decimal" use="required"/>
      <xs:attribute name="TUHeightM" type="xs:decimal" use="required"/>
      <xs:attribute name="TUWeightM" type="xs:decimal" use="required"/>
      <xs:attribute name="TUHeightF" type="xs:decimal" use="required"/>
      <xs:attribute name="TUWeightF" type="xs:decimal" use="required"/>
      <xs:attribute name="MaleBMIFrom" type="xs:decimal" use="required"/>
      <xs:attribute name="MaleBMITo" type="xs:decimal" use="required"/>
      <xs:attribute name="FemaleBMIFrom" type="xs:decimal" use="required"/>
      <xs:attribute name="FemaleBMITo" type="xs:decimal" use="required"/>
      <xs:attribute name="AgeMinimum" type="xs:int" use="required"/>
      <xs:attribute name="MaleChestMinimum" type="xs:decimal" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcquisitionEducationCriteria">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
        <xs:element name="AcquisitionEducationCriteriaSubjects">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="AcquisitionEducationCriteriaSubject" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
      <xs:attribute name="AcqEduCriteriaId" type="xs:int" use="required"/>
      <xs:attribute name="AcquisitionId" type="xs:int" use="required"/>
      <xs:attribute name="HighEduLevelCd" type="xs:string" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcquisitionEducationCriteriaSubject">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="AcqEduCriteriaSubjectId" type="xs:int" use="required"/>
      <xs:attribute name="AcqEduCriteriaId" type="xs:int" use="required"/>
      <xs:attribute name="SubjectCd" type="xs:string" use="required"/>
      <xs:attribute name="Subject" type="xs:string" use="required"/>
      <xs:attribute name="MinimumGradeCd" type="xs:string" use="required"/>
      <xs:attribute name="Grade" type="xs:string" use="required"/>
      <xs:attribute name="MainSubjectInd" type="xs:boolean" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcquisitionLocation">
    <xs:complexType>
      <xs:all>
        <xs:element name="LocationId" type="xs:int" nillable="true"/>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
        <xs:element name="AcquisitionId" type="xs:int" nillable="true"/>
        <xs:element ref="Acquisition" />
      </xs:all>
      <xs:attribute name="AcqLocationId" type="xs:int" use="required"/>
      <xs:attribute name="ZoneCd" type="xs:string" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginRole">
    <xs:complexType>
      <xs:attribute name="Roles" type="xs:string" use="required"/>
      <xs:attribute name="UserId" type="xs:int" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Country">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="CountryCd" type="xs:string" use="required"/>
      <xs:attribute name="CountryName" type="xs:string" use="required"/>
      <xs:attribute name="ActiveInd" type="xs:boolean" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="City">
    <xs:complexType>
      <xs:attribute name="CityCd" type="xs:string" use="required"/>
      <xs:attribute name="CityName" type="xs:string" use="required"/>
      <xs:attribute name="StateCd" type="xs:string" use="required"/>
      <xs:attribute name="StateCapitalInd" type="xs:boolean" use="required"/>
      <xs:attribute name="MainCityInd" type="xs:boolean" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="BloodType">
    <xs:complexType>
      <xs:attribute name="BloodTypeCd" type="xs:string" use="required"/>
      <xs:attribute name="BloodTypeDesc" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcquisitionType">
    <xs:complexType>
      <xs:attribute name="AcquisitionTypeCd" type="xs:int" use="required"/>
      <xs:attribute name="AcquisitionTypeNm" type="xs:string" use="required"/>
      <xs:attribute name="ServiceCd" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Achievement">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
        <xs:element name="ActiveInd" type="xs:boolean" nillable="true"/>
      </xs:all>
      <xs:attribute name="AchievementCd" type="xs:string" use="required"/>
      <xs:attribute name="AchievementDescription" type="xs:string" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ethnic">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="EthnicCd" type="xs:string" use="required"/>
      <xs:attribute name="EthnicDescription" type="xs:string" use="required"/>
      <xs:attribute name="EthnicParentCd" type="xs:string" use="required"/>
      <xs:attribute name="RaceCd" type="xs:string" use="required"/>
      <xs:attribute name="ActiveInd" type="xs:boolean" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Gender">
    <xs:complexType>
      <xs:attribute name="GenderCd" type="xs:string" use="required"/>
      <xs:attribute name="GenderDesc" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="HighEduLevel">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="HighEduLevelCd" type="xs:string" use="required"/>
      <xs:attribute name="HighestEduLevel" type="xs:string" use="required"/>
      <xs:attribute name="IndexNo" type="xs:int" use="required"/>
      <xs:attribute name="HighestEduLevelRank" type="xs:int" use="required"/>
      <xs:attribute name="ActiveInd" type="xs:boolean" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Occupation">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="OccupationCd" type="xs:string" use="required"/>
      <xs:attribute name="OccupationName" type="xs:string" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="SportAndAssociation">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
        <xs:element name="ActiveInd" type="xs:boolean" nillable="true"/>
      </xs:all>
      <xs:attribute name="SportAssocId" type="xs:int" use="required"/>
      <xs:attribute name="SportAssociatType" type="xs:string" use="required"/>
      <xs:attribute name="SportAssociatName" type="xs:string" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Institution">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="InstCd" type="xs:string" use="required"/>
      <xs:attribute name="InstNm" type="xs:string" use="required"/>
      <xs:attribute name="MQAStatus" type="xs:boolean" use="required"/>
      <xs:attribute name="InstCatCd" type="xs:string" use="required"/>
      <xs:attribute name="ActiveInd" type="xs:boolean" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="InstitutionCat">
    <xs:complexType>
      <xs:attribute name="InstCatCd" type="xs:string" use="required"/>
      <xs:attribute name="InstCat" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="MajorMinor">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="MajorMinorCd" type="xs:string" use="required"/>
      <xs:attribute name="MajorMinorDesc" type="xs:string" use="required"/>
      <xs:attribute name="ActiveInd" type="xs:boolean" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaritalStatus">
    <xs:complexType>
      <xs:attribute name="MrtlStatusCd" type="xs:string" use="required"/>
      <xs:attribute name="MrtlStatus" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonalityType">
    <xs:complexType>
      <xs:attribute name="PersonalityTypeCd" type="xs:string" use="required"/>
      <xs:attribute name="PersonalityTypeDesc" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginStatus">
    <xs:complexType>
      <xs:attribute name="LoginStatusCd" type="xs:string" use="required"/>
      <xs:attribute name="LoginStatusNm" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionnareType">
    <xs:complexType>
      <xs:attribute name="QuestionnaireTypeCd" type="xs:string" use="required"/>
      <xs:attribute name="QuestionnaireTypeDesc" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Race">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="RaceCd" type="xs:string" use="required"/>
      <xs:attribute name="RaceDescription" type="xs:string" use="required"/>
      <xs:attribute name="ActiveInd" type="xs:boolean" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Religion">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="ReligionCd" type="xs:string" use="required"/>
      <xs:attribute name="ReligionDescription" type="xs:string" use="required"/>
      <xs:attribute name="ActiveInd" type="xs:boolean" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Service">
    <xs:complexType>
      <xs:attribute name="ServiceCd" type="xs:string" use="required"/>
      <xs:attribute name="ServiceDesc" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Skill">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="SkillCd" type="xs:string" use="required"/>
      <xs:attribute name="SkillCategory" type="xs:string" use="required"/>
      <xs:attribute name="SkillDescription" type="xs:string" use="required"/>
      <xs:attribute name="ActiveInd" type="xs:boolean" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkillCat">
    <xs:complexType>
      <xs:attribute name="SkillCatCd" type="xs:string" use="required"/>
      <xs:attribute name="SkillCatDesc" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="State">
    <xs:complexType>
      <xs:attribute name="StateCd" type="xs:string" use="required"/>
      <xs:attribute name="StateDesc" type="xs:string" use="required"/>
      <xs:attribute name="CountryCd" type="xs:string" use="required"/>
      <xs:attribute name="ICBirthStateCd" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Zone">
    <xs:complexType>
      <xs:attribute name="ZoneCd" type="xs:string" use="required"/>
      <xs:attribute name="ZoneNm" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistingMemberStatus">
    <xs:complexType>
      <xs:attribute name="Code" type="xs:string" use="required"/>
      <xs:attribute name="Status" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Location">
    <xs:complexType>
      <xs:all>
        <xs:element name="AcquisitionLocations">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="AcquisitionLocation" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
        <xs:element name="ActiveInd" type="xs:boolean" nillable="true"/>
      </xs:all>
      <xs:attribute name="LocationId" type="xs:int" use="required"/>
      <xs:attribute name="LocationNm" type="xs:string" use="required"/>
      <xs:attribute name="CityCd" type="xs:string" use="required"/>
      <xs:attribute name="StateCd" type="xs:string" use="required"/>
      <xs:attribute name="ZoneCd" type="xs:string" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Subject">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="SubjectCd" type="xs:int" use="required"/>
      <xs:attribute name="HighEduLevelCd" type="xs:string" use="required"/>
      <xs:attribute name="SubjectDescription" type="xs:string" use="required"/>
      <xs:attribute name="ActiveInd" type="xs:boolean" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubjectGrade">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="GradeCd" type="xs:string" use="required"/>
      <xs:attribute name="GradeDescription" type="xs:string" use="required"/>
      <xs:attribute name="Ranking" type="xs:int" use="required"/>
      <xs:attribute name="ActiveInd" type="xs:boolean" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Advertisment">
    <xs:complexType>
      <xs:all>
        <xs:element name="StartDate" type="xs:date" nillable="true"/>
        <xs:element name="EndDate" type="xs:date" nillable="true"/>
        <xs:element name="CreatedDate" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDate" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="Id" type="xs:int" use="required"/>
      <xs:attribute name="AcquisitionId" type="xs:int" use="required"/>
      <xs:attribute name="Title" type="xs:string" use="required"/>
      <xs:attribute name="ShortDescription" type="xs:string" use="required"/>
      <xs:attribute name="Description" type="xs:string" use="required"/>
      <xs:attribute name="Code" type="xs:string" use="required"/>
      <xs:attribute name="ServiceCode" type="xs:string" use="required"/>
      <xs:attribute name="IntakeLocationId" type="xs:int" use="required"/>
      <xs:attribute name="InterviewLocationId" type="xs:int" use="required"/>
      <xs:attribute name="IsActive" type="xs:boolean" use="required"/>
      <xs:attribute name="IsApplied" type="xs:boolean" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="InterviewLocation">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDate" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDate" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="Id" type="xs:int" use="required"/>
      <xs:attribute name="Code" type="xs:string" use="required"/>
      <xs:attribute name="Name" type="xs:string" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntakeLocation">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDate" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDate" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="Id" type="xs:int" use="required"/>
      <xs:attribute name="Code" type="xs:string" use="required"/>
      <xs:attribute name="Name" type="xs:string" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistingMember">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDate" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDate" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="CoId" type="xs:int" use="required"/>
      <xs:attribute name="ArmyNo" type="xs:string" use="required"/>
      <xs:attribute name="IdNumber" type="xs:string" use="required"/>
      <xs:attribute name="Name" type="xs:string" use="required"/>
      <xs:attribute name="Status" type="xs:string" use="required" />
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicantPhoto">
    <xs:complexType>
      <xs:all>
        <xs:element name="Photo" type="xs:byte"/>
        <xs:element name="CreatedDate" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDate" type="xs:date" nillable="true"/>
        <xs:element name="ApplicantId" type="xs:int" nillable="true"/>
      </xs:all>
      <xs:attribute name="Id" type="xs:int" use="required"/>
      <xs:attribute name="PhotoExt" type="xs:string" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicantSubmittedPhoto">
    <xs:complexType>
      <xs:all>
        <xs:element name="Photo" type="xs:byte"/>
        <xs:element name="CreatedDate" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDate" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="Id" type="xs:int" use="required"/>
      <xs:attribute name="ApplicantId" type="xs:int" use="required"/>
      <xs:attribute name="PhotoExt" type="xs:string" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcquisitionAnnouncement">
    <xs:complexType>
      <xs:all>
        <xs:element ref="Acquisition" />
        <xs:element name="AnnouncementSelectionInd" type="xs:int" nillable="true"/>
        <xs:element name="CreatedDate" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDate" type="xs:date" nillable="true"/>
        <xs:element name="Body" type="xs:string"/>
        <xs:element name="AnnouncementStatusInd" type="xs:boolean" nillable="true"/>
      </xs:all>
      <xs:attribute name="AcqAnnouncementId" type="xs:int" use="required"/>
      <xs:attribute name="AcquisitionId" type="xs:int" use="required"/>
      <xs:attribute name="Header" type="xs:string" use="required"/>
      <xs:attribute name="AttachmentFileName" type="xs:string" use="required"/>
      <xs:attribute name="AttachmentOriginalFileName" type="xs:string" use="required"/>
      <xs:attribute name="AnnouncementTypeInd" type="xs:string" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportDutyLocation">
    <xs:complexType>
      <xs:all>
        <xs:element name="BUID" type="xs:int" nillable="true"/>
      </xs:all>
      <xs:attribute name="ReportDutyLocId" type="xs:int" use="required"/>
      <xs:attribute name="ReportDutyLoc" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
