domain/atm.domain/Schema/AtmIntakeSchema.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by NorAzmi Shaparuddin (SPK Healthline Sdn Bhd) -->
<!-- 
bs attributes
inheritance - set to abstract, sealed or blank
new -  to call new at the field init

-->
<xs:schema xmlns="http://www.dagangnet.com.my/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bs="http://www.dagangnet.com.my/xsd/" targetNamespace="http://www.dagangnet.com.my/" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <!--<xs:element name="Address">
    <xs:complexType>
      <xs:attribute name="Id" type="xs:int" use="required"/>
      <xs:attribute name="Address1" type="xs:string" use="required"/>
      <xs:attribute name="Address2" type="xs:string" use="required"/>
      <xs:attribute name="Address3" type="xs:string" use="required"/>
      <xs:attribute name="City" type="xs:string" use="required"/>
      <xs:attribute name="CityId" type="xs:int" use="required"/>
      <xs:attribute name="Postcode" type="xs:string" use="required"/>
      <xs:attribute name="State" type="xs:string" use="required"/>
      <xs:attribute name="StateId" type="xs:int" use="required"/>
      <xs:attribute name="Country" type="xs:string" use="required"/>
      <xs:attribute name="CountryId" type="xs:int" use="required"/>
      <xs:attribute name="MobilePhoneNo" type="xs:string" use="required"/>
      <xs:attribute name="PhoneNo" type="xs:string" use="required"/>
      <xs:attribute name="FaxNo" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>-->

  <xs:element name="LoginUser">
    <xs:complexType>
      <xs:all>
        <!--<xs:element ref="Address"/>-->
        <!--<xs:element ref="Biodata"/>-->
        <xs:element name="Roles">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="LoginRole" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CreatedDt" type="xs:dateTime" nillable="true"/>
        <xs:element name="LastLoginDt" type="xs:dateTime" nillable="true"/>
        <xs:element name="ModifiedDt" type="xs:dateTime" nillable="true"/>
      </xs:all>
      <xs:attribute name="Salt" type="xs:string" use="required"/>
      <xs:attribute name="UserPassword" type="xs:string" use="required"/>
      <xs:attribute name="Status" type="xs:string" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="ModifiedBy" type="xs:string" use="required"/>
      <xs:attribute name="IsLocked" type="xs:boolean" use="required"/>
      <xs:attribute name="IsAdmin" type="xs:boolean" use="required"/>
      <xs:attribute name="UserType" type="xs:string" use="required"/>
      <xs:attribute name="LoginId" type="xs:string" use="required"/>
      <xs:attribute name="UserName" type="xs:string" use="required"/>
      <xs:attribute name="TempId" type="xs:string" use="required"/>
      <xs:attribute name="AccountNo" type="xs:string" use="required"/>
      <xs:attribute name="UserToken" type="xs:string" use="required"/>
      <xs:attribute name="Email" type="xs:string" use="required"/>
      <xs:attribute name="AlternativeEmail" type="xs:string" use="required"/>
      <xs:attribute name="ServiceCd" type="xs:string" use="required"/>
      <xs:attribute name="Id" type="xs:int" use="required"/>
      <xs:attribute name="ApplicantId" type="xs:int" use="required"/>
    </xs:complexType>
  </xs:element>
  <!--<xs:element name="Biodata">
    <xs:complexType>
      <xs:all>
        <xs:element name="DateOfBirth" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="SalutationName" type="xs:string" use="required"/>
      <xs:attribute name="FullName" type="xs:string" use="required"/>
      <xs:attribute name="Email" type="xs:string" use="required"/>
      <xs:attribute name="IDType" type="xs:string" use="required"/>
      <xs:attribute name="IDNumber" type="xs:string" use="required"/>
      <xs:attribute name="PassportNo" type="xs:string" use="required"/>
      <xs:attribute name="MobilePhoneNo" type="xs:string" use="required"/>
      <xs:attribute name="PhoneNo" type="xs:string" use="required"/>
      <xs:attribute name="FaxNo" type="xs:string" use="required"/>
      <xs:attribute name="Designation" type="xs:string" use="required"/>
      <xs:attribute name="Department" type="xs:string" use="required"/>
      <xs:attribute name="Nationality" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>-->

  <xs:element name="Applicant">
    <xs:complexType>
      <xs:all>
        <xs:element name="BirthDt" type="xs:date" nillable="true"/>
        <xs:element name="PalapesTauliahEndDt" type="xs:date" nillable="true"/>
        <xs:element name="ScholarshipContractStDate" type="xs:date" nillable="true"/>
        <xs:element name="ArmySelectionDt" type="xs:date" nillable="true"/>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
        <xs:element name="ApplicantEducations">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="ApplicantEducation" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ApplicanSkills">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="ApplicantSkill" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ApplicanSports">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="ApplicantSport" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ApplicantDispStatuses">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="ApplicantDispStatus" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Applications">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="Application" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:all>



      <xs:attribute name="ApplicantId" type="xs:int" use="required"/>
      <xs:attribute name="NewICNo" type="xs:string" use="required"/>
      <xs:attribute name="NoTentera" type="xs:string" use="required"/>
      <xs:attribute name="FullName" type="xs:string" use="required"/>
      <xs:attribute name="MrtlStatusCd" type="xs:string" use="required"/>
      <xs:attribute name="GenderCd" type="xs:string" use="required"/>
      <xs:attribute name="Height" type="xs:decimal" use="required"/>
      <xs:attribute name="Weight" type="xs:decimal" use="required"/>
      <xs:attribute name="BMI" type="xs:decimal" use="required"/>
      <xs:attribute name="NationalityCd" type="xs:string" use="required"/>
      <xs:attribute name="NationalityCertNo" type="xs:string" use="required"/>
      <xs:attribute name="BirthCertNo" type="xs:string" use="required"/>
      <xs:attribute name="ReligionCd" type="xs:string" use="required"/>
      <xs:attribute name="RaceCd" type="xs:string" use="required"/>
      <xs:attribute name="EthnicCd" type="xs:string" use="required"/>
      <xs:attribute name="BirthCountryCd" type="xs:string" use="required"/>
      <xs:attribute name="BirthStateCd" type="xs:string" use="required"/>
      <xs:attribute name="BirthCityCd" type="xs:string" use="required"/>
      <xs:attribute name="BirthPlace" type="xs:string" use="required"/>
      <xs:attribute name="BloodTypeCd" type="xs:string" use="required"/>
      <xs:attribute name="SpectaclesUserInd" type="xs:boolean" use="required"/>
      <xs:attribute name="ColorBlindInd" type="xs:boolean" use="required"/>
      <xs:attribute name="ResidenceTypeInd" type="xs:string" use="required"/>
      <xs:attribute name="CorresponAddr1" type="xs:string" use="required"/>
      <xs:attribute name="CorresponAddr2" type="xs:string" use="required"/>
      <xs:attribute name="CorresponAddr3" type="xs:string" use="required"/>
      <xs:attribute name="CorresponAddrPostCd" type="xs:string" use="required"/>
      <xs:attribute name="CorresponAddrCityCd" type="xs:string" use="required"/>
      <xs:attribute name="CorresponAddrStateCd" type="xs:string" use="required"/>
      <xs:attribute name="CorresponAddrCountryCd" type="xs:string" use="required"/>
      <xs:attribute name="MobilePhoneNo" type="xs:string" use="required"/>
      <xs:attribute name="HomePhoneNo" type="xs:string" use="required"/>
      <xs:attribute name="Email" type="xs:string" use="required"/>
      <xs:attribute name="ChildNo" type="xs:int" use="required"/>
      <xs:attribute name="NoOfSibling" type="xs:string" use="required"/>
      <xs:attribute name="MomName" type="xs:string" use="required"/>
      <xs:attribute name="MomICNo" type="xs:string" use="required"/>
      <xs:attribute name="MomNationalityCd" type="xs:string" use="required"/>
      <xs:attribute name="MomOccupation" type="xs:string" use="required"/>
      <xs:attribute name="MomSalary" type="xs:string" use="required"/>
      <xs:attribute name="DadName" type="xs:string" use="required"/>
      <xs:attribute name="DadICNo" type="xs:string" use="required"/>
      <xs:attribute name="DadNationalityCd" type="xs:string" use="required"/>
      <xs:attribute name="DadOccupation" type="xs:string" use="required"/>
      <xs:attribute name="DadSalary" type="xs:decimal" use="required"/>
      <xs:attribute name="GuardianName" type="xs:string" use="required"/>
      <xs:attribute name="GuardianICNo" type="xs:string" use="required"/>
      <xs:attribute name="GuardianNationalityCd" type="xs:string" use="required"/>
      <xs:attribute name="GuardianOccupation" type="xs:string" use="required"/>
      <xs:attribute name="GuardianSalary" type="xs:decimal" use="required"/>
      <xs:attribute name="FamilyHighestEduLevel" type="xs:string" use="required"/>
      <xs:attribute name="Photo" type="xs:string" use="required"/>
      <xs:attribute name="CurrentOccupation" type="xs:string" use="required"/>
      <xs:attribute name="CurrentOrganisation" type="xs:string" use="required"/>
      <xs:attribute name="CurrentSalary" type="xs:decimal" use="required"/>
      <xs:attribute name="PalapesInd" type="xs:boolean" use="required"/>
      <xs:attribute name="PalapesYear" type="xs:int" use="required"/>
      <xs:attribute name="PalapesArmyNo" type="xs:string" use="required"/>
      <xs:attribute name="PalapesInstitution" type="xs:string" use="required"/>
      <xs:attribute name="PalapesRemark" type="xs:string" use="required"/>
      <xs:attribute name="ScholarshipInd" type="xs:boolean" use="required"/>
      <xs:attribute name="ScholarshipBody" type="xs:string" use="required"/>
      <xs:attribute name="ScholarshipBodyAddr" type="xs:string" use="required"/>
      <xs:attribute name="ScholarshipNoOfYrContract" type="xs:string" use="required"/>
      <xs:attribute name="ArmySelectionInd" type="xs:boolean" use="required"/>
      <xs:attribute name="ArmySelectionVenue" type="xs:string" use="required"/>
      <xs:attribute name="ArmyServiceInd" type="xs:boolean" use="required"/>
      <xs:attribute name="ArmyServiceYrOfServ" type="xs:string" use="required"/>
      <xs:attribute name="ArmyServiceResignRemark" type="xs:string" use="required"/>
      <xs:attribute name="SelectionTD" type="xs:int" use="required"/>
      <xs:attribute name="SelectionTL" type="xs:int" use="required"/>
      <xs:attribute name="SelectionTU" type="xs:int" use="required"/>
      <xs:attribute name="ComputerMSWord" type="xs:boolean" use="required"/>
      <xs:attribute name="ComputerMSExcel" type="xs:boolean" use="required"/>
      <xs:attribute name="ComputerMSPwrPoint" type="xs:boolean" use="required"/>
      <xs:attribute name="ComputerICT" type="xs:boolean" use="required"/>
      <xs:attribute name="ComputerOthers" type="xs:string" use="required"/>
      <xs:attribute name="CrimeInvolvement" type="xs:boolean" use="required"/>
      <xs:attribute name="DrugCaseInvolvement" type="xs:boolean" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>

    </xs:complexType>
  </xs:element>


  <xs:element name="ApplicantEducation">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
        <xs:element name="ApplicantEduSubjects">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="ApplicantEduSubject" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
      <xs:attribute name="ApplicantEduId" type="xs:int" use="required"/>
      <xs:attribute name="ApplicantId" type="xs:int" use="required"/>
      <xs:attribute name="HighEduLevelCd" type="xs:string" use="required"/>
      <xs:attribute name="EduCertTitle" type="xs:string" use="required"/>
      <xs:attribute name="OverallGrade" type="xs:string" use="required"/>
      <xs:attribute name="SKMLevel" type="xs:int" use="required"/>
      <xs:attribute name="ConfermentYr" type="xs:int" use="required"/>
      <xs:attribute name="InstCd" type="xs:string" use="required"/>
      <xs:attribute name="InstitutionName" type="xs:string" use="required"/>
      <xs:attribute name="OverSeaInd" type="xs:boolean" use="required"/>
      <xs:attribute name="MajorMinorCd" type="xs:string" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>

    </xs:complexType>
  </xs:element>

  <xs:element name="ApplicantEduSubject">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="EduSubjectId" type="xs:int" use="required"/>
      <xs:attribute name="ApplicantEduId" type="xs:int" use="required"/>
      <xs:attribute name="SubjectCd" type="xs:string" use="required"/>
      <xs:attribute name="GradeCd" type="xs:string" use="required"/>
      <xs:attribute name="Grade" type="xs:string" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>

    </xs:complexType>
  </xs:element>

  <xs:element name="ApplicantSkill">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="ApplicantSkillId" type="xs:int" use="required"/>
      <xs:attribute name="ApplicantId" type="xs:int" use="required"/>
      <xs:attribute name="SkillCd" type="xs:string" use="required"/>
      <xs:attribute name="SkillCatCd" type="xs:string" use="required"/>
      <xs:attribute name="LanguageSkillSpeak" type="xs:boolean" use="required"/>
      <xs:attribute name="LanguageSkillWrite" type="xs:boolean" use="required"/>
      <xs:attribute name="Others" type="xs:string" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>

    </xs:complexType>
  </xs:element>

  <xs:element name="ApplicantSport">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="ApplicantSportAssocId" type="xs:int" use="required"/>
      <xs:attribute name="ApplicantId" type="xs:int" use="required"/>
      <xs:attribute name="AchievementCd" type="xs:string" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>

    </xs:complexType>
  </xs:element>

  <xs:element name="ApplicantDispStatus">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="ApplicantDispStatusId" type="xs:int" use="required"/>
      <xs:attribute name="ApplicantId" type="xs:int" use="required"/>
      <xs:attribute name="Disciplinary" type="xs:string" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>

    </xs:complexType>
  </xs:element>

  <xs:element name="Application">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="AppId" type="xs:int" use="required"/>
      <xs:attribute name="ApplicantId" type="xs:int" use="required"/>
      <xs:attribute name="AcquisitionId" type="xs:int" use="required"/>
      <xs:attribute name="SelectionCenterId" type="xs:int" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>



  <xs:element name="Acquisition">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
        <xs:element name="ClosingDate" type="xs:date" nillable="true"/>
        <xs:element name="AcquisitionCriterias">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="AcquisitionCriteria" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AcquisitionEducationCriterias">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="AcquisitionEducationCriteria" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:all>
      <xs:attribute name="AcquisitionId" type="xs:int" use="required"/>
      <xs:attribute name="AcquisitionTypeCd" type="xs:string" use="required"/>
      <xs:attribute name="Year" type="xs:int" use="required"/>
      <xs:attribute name="Siri" type="xs:int" use="required"/>
      <xs:attribute name="Target" type="xs:int" use="required"/>
      <xs:attribute name="NewStatus" type="xs:boolean" use="required"/>
      <xs:attribute name="NewStatusBy" type="xs:string" use="required"/>
      <xs:attribute name="OpenStatus" type="xs:boolean" use="required"/>
      <xs:attribute name="OpenStatusBy" type="xs:string" use="required"/>
      <xs:attribute name="CloseStatus" type="xs:boolean" use="required"/>
      <xs:attribute name="CloseStatusBy" type="xs:string" use="required"/>
      <xs:attribute name="InviteFirstSelStatus" type="xs:boolean" use="required"/>
      <xs:attribute name="InviteFirstSelStatusBy" type="xs:string" use="required"/>
      <xs:attribute name="SecurityCheckStatus" type="xs:boolean" use="required"/>
      <xs:attribute name="SecurityCheckStatusBy" type="xs:string" use="required"/>
      <xs:attribute name="FirstSelectionStatus" type="xs:boolean" use="required"/>
      <xs:attribute name="FirstSelectionStatusBy" type="xs:string" use="required"/>
      <xs:attribute name="InviteFinalSelStatus" type="xs:boolean" use="required"/>
      <xs:attribute name="InviteFinalSelStatusBy" type="xs:string" use="required"/>
      <xs:attribute name="WrittenTestStatus" type="xs:boolean" use="required"/>
      <xs:attribute name="WrittenTestStatusBy" type="xs:string" use="required"/>
      <xs:attribute name="FinalSelStatus" type="xs:boolean" use="required"/>
      <xs:attribute name="FinalSelStatusBy" type="xs:string" use="required"/>
      <xs:attribute name="AssignNoTenteraStatus" type="xs:boolean" use="required"/>
      <xs:attribute name="AssignNoTenteraStatusBy" type="xs:string" use="required"/>
      <xs:attribute name="CompleteStatus" type="xs:boolean" use="required"/>
      <xs:attribute name="CompleteStatusBy" type="xs:string" use="required"/>

      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="AcquisitionCriteria">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
        <xs:element name="AgeAt" type="xs:date" use="required"/>
      </xs:all>
      <xs:attribute name="AcqCriteriaId" type="xs:int" use="required"/>
      <xs:attribute name="AcquisitionId" type="xs:int" use="required"/>
      <xs:attribute name="TDHeightM" type="xs:decimal" use="required"/>
      <xs:attribute name="TDWeightM" type="xs:decimal" use="required"/>
      <xs:attribute name="TDHeightF" type="xs:decimal" use="required"/>
      <xs:attribute name="TDWeightF" type="xs:decimal" use="required"/>
      <xs:attribute name="TLHeightM" type="xs:decimal" use="required"/>
      <xs:attribute name="TLWeightM" type="xs:decimal" use="required"/>
      <xs:attribute name="TLHeightF" type="xs:decimal" use="required"/>
      <xs:attribute name="TLWeightF" type="xs:decimal" use="required"/>
      <xs:attribute name="TUHeightM" type="xs:decimal" use="required"/>
      <xs:attribute name="TUWeightM" type="xs:decimal" use="required"/>
      <xs:attribute name="TUHeightF" type="xs:decimal" use="required"/>
      <xs:attribute name="TUWeightF" type="xs:decimal" use="required"/>
      <xs:attribute name="MaleBMIFrom" type="xs:decimal" use="required"/>
      <xs:attribute name="MaleBMITo" type="xs:decimal" use="required"/>
      <xs:attribute name="FemaleBMIFrom" type="xs:decimal" use="required"/>
      <xs:attribute name="FemaleBMITo" type="xs:decimal" use="required"/>
      <xs:attribute name="AgeMinimum" type="xs:int" use="required"/>
      
      <xs:attribute name="MaleChestMinimum" type="xs:decimal" use="required"/>

      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="AcquisitionEducationCriteria">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
        <xs:element name="AcquisitionEducationCriteriaSubjects">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="AcquisitionEducationCriteriaSubject" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
      <xs:attribute name="AcqEduCriteriaId" type="xs:int" use="required"/>
      <xs:attribute name="AcquisitionId" type="xs:int" use="required"/>
      <xs:attribute name="HighEduLevelCd" type="xs:string" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="AcquisitionEducationCriteriaSubject">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="AcqEduCriteriaSubjectId" type="xs:int" use="required"/>
      <xs:attribute name="AcqEduCriteriaId" type="xs:int" use="required"/>
      <xs:attribute name="SubjectCd" type="xs:string" use="required"/>
      <xs:attribute name="Subject" type="xs:string" use="required"/>
      <xs:attribute name="MinimumGradeCd" type="xs:string" use="required"/>
      <xs:attribute name="Grade" type="xs:string" use="required"/>
      <xs:attribute name="MainSubjectInd" type="xs:boolean" use="required"/>

      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>



  <xs:element name="LoginRole">
    <xs:complexType>
      <xs:attribute name="Role" type="xs:string" use="required"/>
      <xs:attribute name="Id" type="xs:int" use="required"/>
    </xs:complexType>
  </xs:element>
  
  <!--<xs:element name="CodeItem">
    <xs:complexType>
      <xs:attribute name="Grouping" type="xs:string" use="required"/>
      <xs:attribute name="Description" type="xs:string" use="required"/>
      <xs:attribute name="Code" type="xs:string" use="required"/>
      <xs:attribute name="Id" type="xs:int" use="required"/>
    </xs:complexType>
  </xs:element>-->


  <xs:element name="Country">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="CountryCd" type="xs:string" use="required"/>
      <xs:attribute name="CountryName" type="xs:string" use="required"/>
      <xs:attribute name="ActiveInd" type="xs:boolean" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="City">
    <xs:complexType>
      <xs:attribute name="CityCd" type="xs:string" use="required"/>
      <xs:attribute name="CityName" type="xs:string" use="required"/>
      <xs:attribute name="StateCd" type="xs:string" use="required"/>
      <xs:attribute name="StateCapitalInd" type="xs:boolean" use="required"/>
      <xs:attribute name="MainCityInd" type="xs:boolean" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="BloodType">
    <xs:complexType>
      <xs:attribute name="BloodTypeCd" type="xs:string" use="required"/>
      <xs:attribute name="BloodTypeDesc" type="xs:string" use="required"/>

    </xs:complexType>
  </xs:element>

  <xs:element name="AcquisitionType">
    <xs:complexType>
      <xs:attribute name="AcquisitionTypeCd" type="xs:string" use="required"/>
      <xs:attribute name="AcquisitionTypeNm" type="xs:string" use="required"/>
      <xs:attribute name="ServiceCd" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Achievement">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="AchievementCd" type="xs:string" use="required"/>
      <xs:attribute name="AchievementDescription" type="xs:string" use="required"/>
      <xs:attribute name="ActiveInd" type="xs:boolean" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Ethnic">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="EthnicCd" type="xs:string" use="required"/>
      <xs:attribute name="EthnicDescription" type="xs:string" use="required"/>
      <xs:attribute name="EthnicParentCd" type="xs:string" use="required"/>
      <xs:attribute name="RaceCd" type="xs:string" use="required"/>
      <xs:attribute name="ActiveInd" type="xs:boolean" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Gender">
    <xs:complexType>
      <xs:attribute name="GenderCd" type="xs:string" use="required"/>
      <xs:attribute name="GenderDesc" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="HighEduLevel">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="HighEduLevelCd" type="xs:string" use="required"/>
      <xs:attribute name="HighestEduLevel" type="xs:string" use="required"/>
      <xs:attribute name="HighestEduLevelRank" type="xs:int" use="required"/>
      <xs:attribute name="ActiveInd" type="xs:boolean" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Institution">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="InstCd" type="xs:string" use="required"/>
      <xs:attribute name="InstNm" type="xs:string" use="required"/>
      <xs:attribute name="MQAStatus" type="xs:boolean" use="required"/>
      <xs:attribute name="InstCatCd" type="xs:string" use="required"/>
      <xs:attribute name="ActiveInd" type="xs:boolean" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="InstitutionCat">
    <xs:complexType>
      <xs:attribute name="InstCatCd" type="xs:string" use="required"/>
      <xs:attribute name="InstCat" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="MajorMinor">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="MajorMinorCd" type="xs:string" use="required"/>
      <xs:attribute name="MajorMinorDesc" type="xs:string" use="required"/>
      <xs:attribute name="ActiveInd" type="xs:boolean" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="MaritalStatus">
    <xs:complexType>
      <xs:attribute name="MrtlStatusCd" type="xs:string" use="required"/>
      <xs:attribute name="MrtlStatus" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="PersonalityType">
    <xs:complexType>
      <xs:attribute name="PersonalityTypeCd" type="xs:string" use="required"/>
      <xs:attribute name="PersonalityTypeDesc" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  
    <xs:element name="LoginStatus">
    <xs:complexType>
      <xs:attribute name="LoginStatusCd" type="xs:string" use="required"/>
      <xs:attribute name="LoginStatusNm" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="QuestionnareType">
    <xs:complexType>
      <xs:attribute name="QuestionnaireTypeCd" type="xs:string" use="required"/>
      <xs:attribute name="QuestionnaireTypeDesc" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Race">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="RaceCd" type="xs:string" use="required"/>
      <xs:attribute name="RaceDescription" type="xs:string" use="required"/>
      <xs:attribute name="ActiveInd" type="xs:boolean" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Religion">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="ReligionCd" type="xs:string" use="required"/>
      <xs:attribute name="ReligionDescription" type="xs:string" use="required"/>
      <xs:attribute name="ActiveInd" type="xs:boolean" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Service">
    <xs:complexType>
      <xs:attribute name="ServiceCd" type="xs:string" use="required"/>
      <xs:attribute name="ServiceDesc" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Skill">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="SkillCd" type="xs:string" use="required"/>
      <xs:attribute name="SkillDescription" type="xs:string" use="required"/>
      <xs:attribute name="ActiveInd" type="xs:boolean" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="SkillCat">
    <xs:complexType>
      <xs:attribute name="SkillCatCd" type="xs:string" use="required"/>
      <xs:attribute name="SkillCatDesc" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="SportAndAssociation">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="SportAssocId" type="xs:int" use="required"/>
      <xs:attribute name="SportAssociatType" type="xs:string" use="required"/>
      <xs:attribute name="SportAssociatName" type="xs:string" use="required"/>
      <xs:attribute name="ActiveInd" type="xs:boolean" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="State">
    <xs:complexType>
      <xs:attribute name="StateCd" type="xs:string" use="required"/>
      <xs:attribute name="StateDesc" type="xs:string" use="required"/>
      <xs:attribute name="CountryCd" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Subject">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="SubjectCd" type="xs:string" use="required"/>
      <xs:attribute name="SubjectDescription" type="xs:string" use="required"/>
      <xs:attribute name="ActiveInd" type="xs:boolean" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="SubjectGrade">
    <xs:complexType>
      <xs:all>
        <xs:element name="CreatedDt" type="xs:date" nillable="true"/>
        <xs:element name="LastModifiedDt" type="xs:date" nillable="true"/>
      </xs:all>
      <xs:attribute name="GradeCd" type="xs:string" use="required"/>
      <xs:attribute name="GradeDescription" type="xs:string" use="required"/>
      <xs:attribute name="Ranking" type="xs:int" use="required"/>
      <xs:attribute name="ActiveInd" type="xs:boolean" use="required"/>
      <xs:attribute name="CreatedBy" type="xs:string" use="required"/>
      <xs:attribute name="LastModifiedBy" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>



</xs:schema>
